
body {
    margin: 0;
    padding: 0;
}

.header {
    z-index: 1;
    background-color: transparent;
}

.inner-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
}

.list-group {
    display: flex;
    gap: 60px;
}

.link-list {
    list-style: none;
}

.link-list a {
    text-decoration: none;
}

.container1 {
    width: 900px;
    height: 700px;
    margin: auto;
    justify-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background: linear-gradient();
    width: 100%;
    z-index: 0;
}

.jumbotron>div>img{
    width: 100%;
    display: block;
}


form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

.form-group input{
    width: 400px;
    height: 40px;
}

#table  {
    width: 700px;
    margin: 100px auto;
}


/*content layout*/

.main {
    grid-template-columns: ;
}


/*variable classes*/


.border {
    border: 1px solid black;
}